<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Error occurred</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<h1>Error Occurred</h1>
	<div class="alert alert-danger" role="alert">
		<b>Response Status:</b> <span th:text="${status}">status-code</span>
		<br>
		<b>Cause:</b>
		<span th:if="${message} and ${message.length() != 0}" th:text="${message}">message ...</span>
	</div>
</body>
</html>
