input{
width: 100%;
box-sizing: border-box;
margin: 0;
padding: 0;
background: inherit;
color: white;
}

i[name="userIcon"] {
  color:white;
}
#navbarDropdown{
color:white;
}

input[readonly]{
  border: 0;
  font-size: 1em;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

select{
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


