<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/autocomplete.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Edit Test</title>
</head>
<body>
<div class="container">
    <form th:object="${test}" method="POST" th:action="${'/save'}">
        <div>
            <div class="row">
                <div class="col justify-content-around">
<!--                    ID-->
                    <div class="row">
                        <div class="col">
                            <div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input th:field="*{id}" type="hidden" class="form-control" id="id">
                                    </div>
                                </div>
                            </div>
<!--                            CATEGORY DROPDOWN-->

                            <div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label for="testDescription">Test Category</label>
                                        <select th:field="*{category}" class="form-control">
                                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.categoryName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

<!--                            TEST NAME-->


                            <div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label for="testName">Test Name</label>
                                        <input th:field="*{testName}" type="text" class="form-control" id="testName">
                                    </div>
                                </div>
                            </div>
                            <input th:field="*{createDate}" type="hidden" >
                            <div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label for="testDescription">Test Description</label>
                                        <input th:field="*{testDescription}" type="text" class="form-control"
                                               id="testDescription">
                                    </div>
                                </div>
                            </div>

                            <div id="stepsList">
                                <div class="row">
                                    <div class="col form-group d-none">Step ID</div>
                                    <div class="col form-group">Steps:</div>
                                </div>
                                <div class="row item" th:each="step, status : ${test.steps}">
                                    <div class="col form-group d-none">
                                        <input th:field="*{steps[__${status.index}__].id.stepId}" type="hidden">
                                    </div>
                                    <div class="col form-group d-none">
                                        <input th:field="*{steps[__${status.index}__].id.testId}" type="hidden">
                                    </div>
                                    <div class="col form-group d-none">
                                        <input th:field="*{steps[__${status.index}__].stepOrder}" type="hidden">
                                    </div>
                                    <div class="col form-group d-none">
                                        <input th:field="*{steps[__${status.index}__].step.id}" type="hidden"
                                               class="form-control">
                                    </div>
                                    <div class="col form-group d-flex flex-row" name="parent name">
                                        <input th:field="*{steps[__${status.index}__].step.stepDescription}" type="text"
                                               class="form-control p-2">
                                            <button type="button" class="btn btn-default p-2" th:onclick="'javascript:deleteStep(\'' + ${test.id} + '\',\'' + *{steps[__${status.index}__].id.stepId} + '\');'">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start">
                        <div class="col">
                            <button type="button" class="btn btn-primary" onclick="addRow()">Add New Step
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row text-right">
                <div class="col">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </form>
    <a th:href="@{/tests}">Go Back</a>
</div>
</body>
</html>































